<button class="click-me"><%= link_to 'Back to Recipes List', recipes_path, class: "custom-link" %></button>
<h2 class='head-section recpTitle'><%= @recipe.name %></h2>

<div class='container'>
  <div class='indRecipeDetail'>
    <h3>Preparation time:  <%= @recipe.preparation_time %>hours </h3>
    <% if can? :destroy, @recipe %>
      <span class="public-btn">
        Public
        <%= check_box_tag 'recipe[public]', 1, @recipe.public, disabled: !can?(:destroy, @recipe) %>
      </span>
    <% end %>
  </div>
  

  <h3>Cooking time: <%= @recipe.cooking_time %> hours</h3>
  <p>Steps go here...</p>

  <div class="btnContainer">
    <button id="openPopup" class="btn btn-primary">Generate Shopping List</button>

   
    
  </div>
  <hr>

  <%= render partial: 'common_features/addFood' %>
</div>

<% if @recipe %>
  <table class="recipe-detail-table">
    <!-- recipe details table -->
  </table>
<% else %>
  <p class="private-recipe-message">This recipe is private and cannot be viewed.</p>
<% end %>


<%= form_with(model: [@recipe, RecipeFood.new], url: recipe_recipe_foods_path(@recipe), remote: true) do |f| %>
  <%= f.hidden_field :food_id, value: @food.id %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.submit 'Add Food to Recipe' %>
<% end %>

<div class="bd" id="popup" style="display: none;">
  <h2>Generating Shopping List</h2>
  <p>Choose an inventory:</p>
  <select id="inventorySelect">
    <option value="inventory1">Inventory 1</option>
    <option value="inventory2">Inventory 2</option>
    <option value="inventory3">Inventory 3</option>
  </select>
  <button onclick="generateShoppingList()">Generate</button>
  <button id="closePopup" class="close">&times;</button>
</div>

<script>
  $(document).ready(function() {
    $("#openPopup").click(function() {
      $("#popup").show();
    });

    $("#closePopup").click(function() {
      $("#popup").hide();
    });
  });
</script>
