<div class="container">
    <div class="center">
      <div class="head-section">
        <h1>List of Foods</h1>
        <label for="click" class="click-me">Add Food</label>
      </div>

      <input type="checkbox" id="click">
      
      <table class="table">
        <thead>
          <tr>
            <th>Food</th>
            <th>Measurement Unit</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td><%= food.name %></td>
              <td><%= food.measurement_unit %></td>
              <td><%= food.price %></td>
              <td><%= food.quantity %></td>
              <td><%=  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <! Modal Form>
      <div class="content">
        <div class="header">
          <h2>Add Food</h2>
          <label for="click" class="fa-times">&times;</label>
        </div>

        <form action="/foods" method="post" class="popup">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control">
          </div>

          <div class="form-group">
            <label for="measurement_unit">Measurement Unit</label>
            <input type="text" name="measurement_unit" id="measurement_unit" class="form-control">
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" class="form-control">
          </div>

          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity" id="quantity" class="form-control">
          </div>
          
          <div class="line"></div>
          
          <div class="foot-action">
            <button type="submit" class="btn btn-primary">Add Food</button>
            <label for="click" class="close-btn">Close</label>
          </div>
        </form>
      </div>
    </div>
</div>
